@import url('https://fonts.googleapis.com/css?family=Raleway:400,200');
body {   
    font-family: Raleway, san-serif;
}

.card-container {
    padding: 20px 10px;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    flex-wrap: wrap;
}

.card-length {
    min-width: 350px;
}

.card-header{
    display: flex;
    align-items: center;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.description {
    margin-bottom: 0.5rem;
}

.header-date {
    font-weight: bold;
}

.calendar-icon {
    font-size: 24px;
}

.subheader-margin {
    margin: 1rem 0em 0.5rem !important;
}

.card-activity {
    display: flex;
    align-items: center;
}

.card-feedback {
    align-self: center !important;
}

.status-margin {
    margin-top: 1rem !important;
}

.pub-time {
    margin-right: 0;
}
